html, body{
    background-color: #f0f2f0;
    height: 100vh;
}
a{
    text-decoration: none;
}
input[type=number]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

@font-face {
    font-family: 'montserrat-medium';
    src: url("../assets/fonts/static/Montserrat-Medium.ttf");
}
@font-face {
    font-family: 'montserrat-regular';
    src: url("../assets/fonts/static/Montserrat-Regular.ttf");
}

*{
    font-family: 'montserrat-medium', arial, helvetica, sans-serif;
}
/* *{
    font-family: 'montserrat-regular', arial, helvetica, sans-serif;
} */